<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="container">
  <div class="row">
    <div class="col-log-2"></div>

    <div class="col-log-8 my-3">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead"> Seus contatos estão listados a seguir:</p>

      <div class="row">
        <div class="col my-3">
          <div class="alert alert-danger">Um erro qualquer</div>
        </div>
      </div>

      <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <td>Diego</td>
            <td>Rodrigues</td>
            <td>31991238534</td>
            <td>diego.souza@ifmg.edu.br</td>
          </tr>
          <tr>
            <td>Diego</td>
            <td>Rodrigues</td>
            <td>31991238534</td>
            <td>diego.souza@ifmg.edu.br</td>
          </tr>
          <tr>
            <td>Diego</td>
            <td>Rodrigues</td>
            <td>31991238534</td>
            <td>diego.souza@ifmg.edu.br</td>
          </tr>
        </table>
      </div>

    </div>
    <div class="col-log-2"></div>
  </div>

</div>
<%- include('includes/footer') %>
